
<form action= users_url method="post">

  <label for="username">New Username</label>
  <input type="text" name="user[user_name]" id="username">
  <br>
  <label for="password">New Password</label>
  <input type="password" name="user[password]" id="password">
  <input type="submit" value="submit">
</form>
